button{
  font-family: Nunito, Figtree;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.900);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.inloader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inloader span{
  font-size: 13px;
  animation: appear 1s ease-out;
}
.loader svg{
  width: 120px;
  height: 120px;
  position: sticky;
}
.generator{
  text-align: center;
  padding: 70px 80px;
  margin-top: 0px;
  border-radius: 30px;
  animation: appear 0.3s ease-out;
  transform-origin: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid hsla(0, 0%, 20%, 0.3);
}
.generator input{
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 30px;
  width: 200px;
  background-color: hsla(0, 0%, 20%, 0.7);
}
.generator button{
  border: none;
  border-radius: 10px;
  padding: 10px ;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
}
.generator button:hover{
  background-color: hsl(0, 0%, 35%);

}
.generator .form{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.container{
  display: flex;
  justify-content: center;
  height: 75vh;
  align-items: center;
}
.result{
  display: flex;
  justify-content: center;
  width: 100%;
}
.form label{
  font-size: 12px;
}
.ready svg{
  width: 20px;
  height: 20px;
}
.ready{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  border-bottom: 0.1em solid hsla(0, 0%, 100%, 0.253);
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.ready svg{
  margin-bottom: 8px;
  width: 25px;
  height: 25px;
}
.ready a button{
  width: 100%;

}
.ready a{
  text-decoration: none;
}
.ready button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 5px;
  width: 70%;
  cursor: pointer;
  transition: 0.2s;
  font-size: 13px;
}
.ready button svg{
  width: 15px;
  height: 15px;
}
.ready button:hover{
  background-color: hsl(0, 0%, 35%);
}

.title{
  text-align: center;
}
.title h1{
  margin-top: 20px;
  margin-bottom: 0px;

}
.title span{
  margin: 0;
  color: hsl(0, 0%, 80%);
  font-size: 15px;
}
.title h1 span{
  font-size: 2rem;
  font-weight: 700;
}
.title h1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.lightning {
  filter: drop-shadow(0px 0px 4px yellow);
}
.bottom{
  display: flex;
  flex-direction: column;
  font-size: 10.5px;
  color: hsla(0, 0%, 100%, 0.322);
  text-align: center;
}
.links{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.links a{
  color: hsla(0, 0%, 100%, 0.712);
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease;
}
.links a:hover{
  color: hsla(0, 0%, 100%, 0.5);
}


@keyframes appear {
  0%{
    opacity: 0;
    transform: scale(75%);
  }
  100%{
    opacity: 1;
    transform: scale(100%);
  }

}


